:root {
  --main-color-green: #00998a;
  --main-color-green-half-dark: #009284;
  --main-color-green-dark: #004d45;
  --main-color-orange: #f7941d;
  --main-color-orange-dark: #d0770b;
}

.select {
  background-image: url(./Components/Home/components/search/assets/icons/expand_arrow.svg);
  background-size: auto;
}
