@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Avenir-Arabic;
  src: url(../public/fonts/avenir-arabic-black.otf);
}
@font-face {
  font-family: Avenir-Arabic-heavy;
  src: url(../public/fonts/avenir-arabic-heavy.otf);
}
@font-face {
  font-family: Avenir-Arabic-book;
  src: url(../public/fonts/avenir-arabic-book.otf);
}
.avenir-black {
  font-family: Avenir-Arabic;
}

.avenir-heavy {
  font-family: Avenir-Arabic-heavy;
}
.avenir-book {
  font-family: Avenir-Arabic-book;
}
body {
  margin: 0;
  font-family: Avenir-Arabic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  @apply ps-4 pe-4 m-auto;
}
.flex-between-center {
  @apply flex justify-between items-center;
}

.navbarend {
  @apply navbar-end flex justify-between w-full;
}

.checkbox {
  --chkbg: black;
}

.box-majors-shadow {
  box-shadow: 1px -1px 8px #eee, -2px 1px 8px 1px #eee, 1px 1px 8px #eee;
}

.box {
  transition: all 0.3s ease; /* Transition effect for all properties */
}
.box:hover {
  transform: rotate(5deg) scale(1.1);
}
